/*body{
    box-sizing: border-box;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    letter-spacing: 1px;

    p{
        letter-spacing: normal;
        font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    }
}

$white: white;
$sunrise: #FFBEBD;
$footer-color: #f0cdcc;
$font-color: #cd4a54;
$button-color: #bebdff;
$hover-color: #bdddff;
$menu-font: 14pt;
$heading-font: 20pt;
$title-font: 16pt;
$para-font: 13pt;
$main-pg-pad: 15px 50px;
$foot-head-pad: 5px 50px;


@mixin grad-color($direction, $color-1, $color-2){
    background:linear-gradient($direction, $color-1, $color-2);
    background: -webkit-linear-gradient(legacy-direction($direction), $color-1, $color-2); 
    background: -o-linear-gradient($direction, $color-1, $color-2); 
    background: -moz-linear-gradient($direction, $color-1, $color-2);
}

@mixin display-flex(){
    display: flex;
    display: -webkit-flex;
}

@mixin flex-dir($direction){
    flex-direction: $direction;
    -webkit-flex-direction: $direction;
}

@mixin background-img($imgurl){
    background-image: url($imgurl);
    background-repeat: no-repeat;
    background-size: cover;
}

//background-image: url('{{site.baseurl}}./../image/front-page.jpg');

//Main Page Top Section

.main-page{

    .top-image{
        min-height: 600px;
        @include background-img('{{site.baseurl}}./../image/top-image.jpg');
    }

    .home-page{
        min-height: 500px;
        margin-top: 10px;
        @include display-flex();
        
        .left-sec{
            @include display-flex();
            @include flex-dir(column);
            align-items: flex-start;
            justify-content: space-around;
            width: 35%;
            text-align: center;

            .home-pic{
                width: 400px;
                min-height: 500px;
                border: 2px solid #cdcdcd;
                // border-radius: 50%;
                @include background-img('{{site.baseurl}}./../image/front-image-1.jpg');
                z-index: 0;

                .home-pic-filter{
                    z-index: 1;
                    width: 400px;
                    min-height: 500px;
                    background-color: rgba(255, 255, 255, 0.61);
                    background-size: cover;
                    padding: 5px 0px;

                    .block-1{
                        text-align: center;
                        padding: 0px 10px;
                        z-index: 999;
                        font-weight: bold;
                    }
                }
            }

            
        }

        .right-sec{
            width: 65%;
            text-align: left;
            
            .about-me{
                @include display-flex();
                min-height: 50px;
                margin: 10px 10px 20px 10px;
                
                .about-me-title{
                    width: 20%;
                    font-size: $title-font;
                    color: $font-color;
                }

                .about-me-desc{
                    width: 80%;
                    font-size: $para-font;
                }

            }

            .work-link-btn{
                width: 100%;
                min-height: 50px;
                margin: 40px 10px 0px 10px;
                text-align: center;
                @include display-flex();
                align-items:center;
                justify-content: center;

                div{
                    width: 20%;
                    box-shadow: 0px 6px 8px 0px #cacaca, -3px 5px 8px 0px #cacaca;
                    background-color: $sunrise;
                }

                div:hover{
                    color: $font-color;
                    background-color: $footer-color;
                }
            }
        }
    }

}


//Work-Section

.work-sec{
    border: 2px solid black;
    padding: $main-pg-pad;

    .work-page{
        min-height: 500px;
        margin-top: 10px;        
        @include display-flex();
        @include flex-dir(row);

        .work-pg-left{
            @include display-flex();
            @include flex-dir(column);
            align-items: center;
            justify-content: center;
            border: 1px solid black;
            width: 20%;
            text-align: center;

            .proj-name{
                width: 80%;
                min-height: 50px;
                margin-top: 40px;
                padding: $main-pg-pad;
                text-align: center;
                box-shadow: 0px 6px 8px 0px #cacaca, -3px 5px 8px 0px #cacaca;
                background-color: $sunrise;
            }

            .proj-name:hover{
                color: white;
                cursor: pointer;
            }

            .proj-name:visited{
                background-color: black;
                color: white;
            }
        }

        .work-pg-right{
            @include display-flex();
            @include flex-dir(column);
            align-items: center;
            justify-content: center;
            border: 1px solid black;
            width: 80%;
            text-align: center;

            .proj-img img{
                border: 1px solid black;
                width: 60%;
            }

            .proj-desc{
                margin-top: 30px;
                border: 1px solid black;
                width: 70%;
            }
        }
    }
}


//Hire Page section

.work-sec{
    border: 2px solid black;
    padding: $main-pg-pad;

    .work-page{
        min-height: 500px;
        margin-top: 10px;        
        @include display-flex();
        @include flex-dir(row);
    }
}

 //Email page

.hire-sec{
    padding: $main-pg-pad;

    .hire-page{
        min-height: 500px;
        margin-top: 10px;      
        border: 2px solid black;  
        @include display-flex();
        @include flex-dir(row);
        justify-content: space-between;
        align-items: baseline;
        padding: $main-pg-pad;

        .email-page{    
            width: 80%;
            .form-wrapper{
                border: 1px solid black;
                border-radius: 10px;
                padding: $main-pg-pad;

                .form-name{
                    @include display-flex();
                    @include flex-dir(row);
                    justify-content: space-between;

                    input[type=text], select{
                        width: 97%;
                        padding: 5px;
                        border: 2px solid #ccc;
                        border-radius: 5px;
                    }
                }

                .form-detail{
                    input[type=email], select, textarea{
                        width: 98%;
                        padding: 5px;
                        border: 2px solid #ccc;
                        border-radius: 5px;
                    }
                }

                .form-btn{
                    text-align: center;

                    input[type=submit]{
                        width: 50%;
                        padding: 5px 10px;
                        border: 2px solid black;
                        background-color: white;
                        font-size: $menu-font;
                    }

                    input[type=submit]:hover{
                        background-color: black;
                        color: white;
                    }
                }
            }

        }

        .contact-page{
            h1{
                margin-bottom: 20px;
            }
            .page-head{
                border-left: 2px solid black;
                margin: $main-pg-pad;
                padding: 0px 10px;
            
                h3{
                    margin-bottom: 50px;
                }
            }
        }
    }

}


// Header
.header-sec{

    .header-main{
        @include display-flex();
        width: 100%;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        //position: fixed;
        padding: $foot-head-pad;
        min-height: 30px;
        background-color: $sunrise;
       
        .content{
            @include display-flex();
            width: 20%;
            justify-content: flex-start;

            .menu-logo{
                width: 100px;
            }
        }

        .content-1{
                @include display-flex();
                width: 80%;
                justify-content: flex-end;

            .menu-name{
                width: auto;
                margin: 0px 0px 0px 50px;
                
                .menu-element{
                    color: $font-color;
                    font-size: $menu-font;
                }
            }
        }
    }
}


//Footer 

.footer-main{
    background-color: $sunrise;
    min-height: 30px;
    // position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: $foot-head-pad;

    // .footer-div-1{
    //     display: flex;
    //     align-items: center;
    //     flex-direction: row;
    //     justify-content: space-around;

    //      h1{
    //         border: 1px solid black;
    //         color: $font-color;
    //         font-size: $menu-font;
    //         width: 100px;
    //      }
    // }

    .footer-div{
        border: 1px solid black;

        p{
            color: $font-color;
            font-size: $font-color;
        }
    }
}










*/
